# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/exam_service_db
MONGO_DBNAME=exam_service_db

# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
# For production, set FLASK_ENV=production and use a proper WSGI server like Gunicorn or uWSGI.
# FLASK_DEBUG=1 # Enables debug mode (equivalent to FLASK_ENV=development in many cases)

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_EXAM_TOPIC=exam_events
```
