# MongoDB Configuration
MONGO_URI="mongodb://localhost:27017"
MONGO_DB_NAME_ANALYTICS="analytics_service_db"

# Server Configuration
SERVER_PORT="5003"

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS="localhost:9092" # Comma-separated list for multiple brokers
KAFKA_EXAM_TOPIC="exam_events"
KAFKA_CONSUMER_GROUP_ID="analytics_service_group"

# External Service URLs (example, will be used later)
EXAM_SERVICE_URL="http://localhost:5001/api/exams"
# USER_SERVICE_URL="http://localhost:8080/api/users"
```
